extend ../layouts/embed

append variables
	- var kicker= '';
	- var kicker_link= '';
	- var section= '';
	- var section_slug= '';
	- var special = '';
	- var special_url = '';
	- var title= 'Titulo';
	- var lead= 'linhafina';
	- var description= 'Descricao';
	- var url= 'https://arte.folha.uol.com.br/';
	- var chan= '';
	- var share_title= title + '-' + section;
	- var share_type= 'article';
	- var image_social= url + 'images/social.jpg';
	- var share_description= description || lead;
	- var publish_date_l = '01/01/2010';
	- var publish_time_l = '2:00';
	- var update_date_l ='';
	- var update_time_l ='';
	//- /////////////////////////
	//- Não mexer aqui para baixo
	//- /////////////////////////
	- var publish_date = publish_date_l ? publish_date_l.split('/')[0]+'.'+months[publish_date_l.split('/')[1]-1]+'.'+publish_date_l.split('/')[2] : '';
	- var publish_time = publish_time_l ? publish_time_l.replace(':', 'h') : '';
	- var update_date = update_date_l ? update_date_l.split('/')[0]+'.'+months[update_date_l.split('/')[1]-1]+'.'+update_date_l.split('/')[2] : '';
	- var update_time = update_time_l ? update_time_l.replace(':', 'h') : '';
	- var publish_date_year = publish_date_l ? publish_date_l.split('/')[2] : '';
	- var publish_date_month = publish_date_l ? publish_date_l.split('/')[1] : '';
	- var publish_date_day = publish_date_l ? publish_date_l.split('/')[0] : '';
	- var publish_time_hour = publish_time_l ? publish_time_l.split(':')[0] : '';
	- var publish_time_minute = publish_time_l ? publish_time_l.split(':')[1] : '';
	- var update_date_year = update_date_l ? update_date_l.split('/')[2] : '';
	- var update_date_month = update_date_l ? update_date_l.split('/')[1] : '';
	- var update_date_day = update_date_l ? update_date_l.split('/')[0] : '';
	- var update_time_hour = update_time_l ? update_time_l.split(':')[0] : '';
	- var update_time_minute = update_time_l ? update_time_l.split(':')[1] : '';



block content
	#app
