$lblue = red
$blue= #0078A4
$lblue = #4CA5C5
$red =  #E51717
$gray = #333333
$lgray = #999999
$yellow =  #F3BD00
$green = #93c9a8

@import	'./vendor/rupture.styl'

@import './components/general.styl'

@import './components/question.styl'

@import './components/range.styl'

@import './components/ending.styl'
