$border = rgba($lgray, .3)
.user-choices
	font-size: .9em
	margin: 20px 0
	padding-bottom: 20px
	border-bottom: 1px solid $border
	.star
		color: $lgray

.restaurant
	margin: 20px 0
	padding-bottom: 20px
	border-bottom: 1px solid $border

	.name
		font-weight: bold
		font-size: 1.1em
		color: $blue

	.type
		font-size: .9em
		color: $lgray

	.item-container
		display: flex
		margin-bottom: 10px
		.price
			font-size: .9em
			color: $lgray
			margin-right: 30px
		.stars
			font-size: .9em
			color: $lgray

	.photo
		margin: 20px 0

	.compatibility
		margin-bottom: 10px
		span
			font-weight: bold
			color: $blue

	.desc
		margin: 20px 0

	.prize-container
		margin-bottom: 10px
		span
			font-size: .9em
			font-weight: bold

	.quiz-container
		font-size: .9em
		span
			color: $gray



