$border = rgba($color, .3)
.user-choices
	font-size: .9em
	margin: 20px 0
	padding-bottom: 20px
	border-bottom: 1px solid $border
	.star
		color: $color

.restaurant
	margin: 20px 0
	padding-bottom: 20px
	border-bottom: 1px solid $border
	text-align: center

	.name
		font-weight: bold
		font-size: 1.1em
		color: $color

	.type
		font-size: .9em
		color: $color

	.item-container
		display: flex
		margin-bottom: 10px
		align-items: center
		justify-content: center
		.price
			font-size: .9em
			color: $color
		.stars
			font-size: .9em
			color: $color
			margin-left: 30px

	.photo
		margin: 20px 0

	.compatibility
		margin-bottom: 10px
		span
			font-weight: bold
			color: $color

	.desc
		margin: 20px 0

	.prize-container
		margin-bottom: 10px
		span
			font-size: .9em
			font-weight: bold

	.quiz-container
		font-size: .9em
		color: $color
		span
			color: $gray



