$border = rgba($color, .3)

.hidden
	display: none

body
	width: 100%
	max-width: 650px
	margin: 20px auto

h1
	font-weight: bold
	margin-bottom: 20px
	font-size: 1.3em

h2
	margin-bottom: 10px

b
	font-weight: bold

img
	width: 100%
	height: auto

p
ul
li
h1
h2
	text-align: center
	font-family: FolhaTexto, 'Folha Texto', serif
	font-weight: 500

a
	color: $color
	&:hover
		color: #333

.description
	margin: 20px 0
	// border-bottom: 1px solid $border
	padding-bottom: 20px

.title-svg
	text-align: center
	margin-bottom: 20px
	position: relative
	img
		fill: $color
		max-width: 400px
		width: 70%
		margin: 0 auto
		padding: 0 10px
		z-index: 10
		background-color: white
	.line
		z-index: -1
		border: .7px solid $color
		position: absolute
		left: 0
		bottom: 50%
		width: 100%

button
	font-size: .8em
	position: relative
	color: $color
	font-weight: 500
	text-transform: uppercase
	background-color: white
	border: 0
	text-align: center
	align-self: flex-end
	padding: 10px 15px
	.arrow
		position: absolute
		top: 10px
		right: 0
		border: solid $color;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 6px;
		transform: rotate(-45deg);
		&:hover
			border-color: #333
	&:hover
		color: #333
