.question
	.q-counter
		font-family: FolhaTexto, Folha Texto, serif
		font-weight: bold
		span
			&:first-child
				font-size: 1.7em
				color: #333
			&:last-child
				color: $lgray
	.q-title
		margin-left: 20px
