.range-container
	width: 100%
	margin-bottom: 20px
	.tip
		margin-top: 10px
		display: flex
		justify-content: space-around
		color: $color
		p
			font-family: FolhaGrafico, 'Folha Grafico', sans-serif
			font-weight: 300
			text-transform: uppercase
			font-size: .9em
			max-width: 150px
			line-height: 1.3em
			&:last-child
				text-align: right
	.range
		position: relative
		margin: 50px 0 0 0
		.bgline
			z-index: -1
			border-bottom: 1px solid $color
			position: absolute
			top: 50%
			left: 0
			width: 100%
		.range-inside
			z-index: 10
			display: flex
			justify-content: space-around
			position relative
			.range-flex
				display: flex
				flex-direction: column
			label
				background-color: white
				border: 1px solid $color
				padding: 15px 24px
				border-radius: 50%
				font-weight: bold
				color: $color
				cursor: pointer
				&.diff
					border-radius: 5px
				&.checked
					background-color: $color
					color: white
				&:hover
					color: #333
					border-color: #333
				input
					display: none
